/**
 * global definitions
 */

html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    height: 100%; /* force the BODY element to match the height of the HTML element */

    background-color: black;

    color: beige;

    font-family: "DejaVu Sans";
    font-size: 1vh;
}

.ownCheckBox {
    background-color: #AAAAAA;

    height: 3vh;
    width: 3vh;

    border-radius: 5vh;

    font-family: "Calibri";
    font-size: 2.5vh;
    text-align: center;

    cursor: default;
}

/**
 * page container
 *
 * contains everything and differs 10px from body
 */
#page-container H1 {
    position: absolute;

    top: 1vh;
    width: 100%;

    font-style: oblique;
    font-size: 500%;
    text-align: center;
}

#page-container {
    position: absolute;

    background-color: #AAAAAA;

    top: 1vh;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;

    overflow: auto;

    z-index: 50; /* Remove this line if it's not going to be a background!*/
}

/**
 * control elements
 */

#controlElements {
    position: absolute;

    background-color: #cccccc;

    top: 12vh;
    left: 1vw;
    right: 1vw;

    height: 7vh;

    border-radius: 2vh;

    font-size: 200%;
}

#switchDebugInfo {
    position: absolute;

    top: 1vh;
    left: 1vh;

    font-weight: bold;
    font-size: 2vh;
}

#switchDebugInfoText {
    position: absolute;

    top: 1.3vh;
    left: 4.5vh;
}

#toggleMode {
    position: absolute;

    background-color: #aaaaaa;

    top: 1vh;
    left: 12vw;

    height: 4vh;
    width: 12vw;

    font-size: 2vh;
}

#showLightrulePopup {
    position: absolute;

    background-color: #aaaaaa;

    top: 1vh;
    left: 30vw;

    height: 4vh;
    width: 15vw;

    font-size: 2vh;
}

/**
 * mode bar
 *
 * shows current server mode (manual, automatic, more to come?...)
 */

#mode-bar {
    position: absolute;

    background-color: white;

    top: 20vh;
    left: 1vw;
    right: 1vw;

    height: 7vh;

    border-radius: 2vh;

    text-align: center;

    overflow: hidden;
}

#mode-bar[datamode='0'] {
    background: #cec716;
}

#mode-bar[datamode='1'] {
    background: #51a445;
}

#modetext {
    position: relative;

    top: 1vh;

    /*font-family: Calibri;*/
    /*font-size: 2vw;*/
    font-size: 4vh;
    font-weight: bold;

    width: 100%;
}

/**
 * info bar
 *
 * shows info about current server settings and status
 */

#info-bar {
    position: absolute;

    background-color: #1C6EA4;

    top: 28vh;
    left: 1vw;
    right: 1vw;

    height: 30vh;

    border-radius: 2vh;

    overflow: auto;
}

.boxheading {
    margin: 15px;

    font-size: 200%;
}

#debugInfo {
    position: absolute;

    background-color: #1D568D;

    top: 2vh;
    left: 20vh;
    height: 85%;
    width: 50%;

    border-radius: 0.5vh;
    /*border: 1px solid crimson;*/

    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 110%;

    overflow: auto;
}

#serverCommBlinkFrame {
    position: absolute;

    top: 3vh;
    left: 1vh;

    background-color: transparent;

    height: 5.5vh;
    width: 4vh;

    border-radius: 0.5vh;
    border: 2px solid beige;

    text-align: center;

    z-index: 0;
}

#serverCommBlink {
    position: absolute;
    top: 2vh;
    left: 0.5vh;

    background-color: #1D568D;

    height: 3vh;
    width: 3vh;

    border-radius: 5vh;

    z-index: 1;
}

#lightStatusFrame {
    position: absolute;

    top: 10vh;
    left: 1vh;
    height: 10vh;
    width: 15vh;

    background-color: #AAAAAA;

    border-radius: 0.5vh;

    text-align: center;
}

.lightStatus {
    position: absolute;

    top: 20%;
    height: 80%;
    width: 50%;

    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

#lightStatusCalculated {
    left: 0px;
}

#lightStatusHardware {
    right: 0px;
}

.lightStatusVisual {
    position: absolute;

    top: 30%;
    left: 5%;
    height: 60%;
    width: 90%;

    background-color: black;

    border-radius: 5vh;
}

.debugInfoParent {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: #2b542c;
}

.debugInfoChildDesc {
    grid-column: 1;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.debugInfoChildValue {
    grid-column: 2;
    background-color: transparent;
    border-bottom: 1px solid black;
}

/**
 * manual control
 *
 * shows the cotrols to be able to manually control the light
 */

#manualControl {
    position: absolute;

    background-color: #cec716;

    display: none;

    top: 59vh;
    left: 1vw;
    right: 1vw;

    height: 25vh;

    border-radius: 2vh;

    overflow: hidden;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */

    font-size: 200%;
}

#slider { /* The slider itself */
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.sliderValue {
    font-weight: bold;
    color: red
}

/**
 * light rule editing popup
 *
 * shows the light rule editing popup which lies above everything
 */

#lightRulePopup {
    position: absolute;

    display: none;

    background-color: #1C6EA4;

    top: 1vh;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;

    overflow: auto;

    z-index: 100;
}

#lightRulePopupClose {
    position: absolute;

    top: 3vh;
    right: 3vw;

    float: right;
}

#fancyContainer {
    position: absolute;

    background-color: #7c6800;

    border-width: 1px;
    border-color: white;

    top: 7vh;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;
}