html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    height: 100%; /* force the BODY element to match the height of the HTML element */
    background: #AAAAAA;
}

#floatingDiv {
    position: absolute;

    text-align: center;
    font-family: "DejaVu Sans";
    font-style: revert;
    font-size: 200%;

    vertical-align: center;

    color: #FFFFFF;
    background-color:#1C6EA4;

    border-radius: 25px;

    height: 20%;
    width: 100%;
}

.floatingLeft{
    position: absolute;

    background: #8BC84B;

    border-radius: 25px;

    width: 45%;

    top: 25%;
    bottom: 2%;
    left: 2%;
}

.floatingRight{
    position: absolute;

    background: #c8533c;

    border-radius: 25px;

    width: 45%;

    top: 25%;
    bottom: 2%;
    right: 2%;
}

